body{
    margin: 0px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 500px){
    #erfarenhet{
        display: grid;
        grid-template-rows: 30vh auto 10vh;
    }
    #bodystart{
        display: grid;
        grid-template-rows: 100vh 90vh 10vh;
    }
    #ommig{
        display: grid;
        grid-template-rows: 30vh 20vh 30vh minmax(30vh, auto) 10vh;
    }
    #projekt{
        display: grid; 
        grid-template-rows: 30vh 50vh minmax(20vh, auto) 10vh;
    }
    #mainsec{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .linkdiv{
        width: 90vw;
        height: 20vh;
        background-color: darkblue;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: black solid 1px;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .menu-links{
        width: 50vw;
        height: 15vh;
        background-color: darkblue;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: black solid 1px;
        align-self: center;
        color: white;
    }   
    .er_sec{
        height: auto;
        width: 70vw;
        background-color: darkblue;
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin: 20px;
    }
    #er_main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .er_h2{
        margin-left: 16px;
    }

}
@media screen and (min-width: 501px){

}

h2{
    color: white;
}

.menu{
    height: 100vh;
    width: 70vw;
    background: white;
    position: fixed;
    top: 0;
    left: -70vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.menu-button{
    cursor: pointer;
    display: inline;
    position: fixed;
    width: 2.6rem;
    height: 2.6rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    border: black solid 1px;
}

.menu-button i{
    font-size:2.6rem;
}

.close-button{
    margin: 10px;
    width: 2.6rem;
}

.close-button i{
    font-size: 2.6rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

#vitmenu{
    color: white;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#linkedin{
    font-size: 8vh;
}

#linkWrapper{
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#er_textsec{
    max-width: 700px;
    padding: 5vw;
}